<h2><%= "#{@user.first_name} #{@user.last_name}" %></h2>
<p><%= @user.email %></p>

<h3>Events</h3>

<table>
    <tr>
        <th>Owned Event</th>
    </tr>
    
    <% @user.owned_events.each do |event| %>
        <tr>
            <td><%= event.name %></td>
        </tr>
    <% end %>
    
    <tr>
        <th>Participated Event</th>
    </tr>
    
    <% @user.participating_events.each do |event| %>
        <tr>
            <td><%= event.name %></td>
            <td> 
                <table>
                    <tr>
                        <th>Location</th>
                        <th>Visited?</th>
                    </tr>
                    <% event.locations.each do |i| %>
                        <tr>
                            <td><%= location.name %></td>
                            <td>
                                <% if @user.visited_locations.include? location %>
                                    Y
                                <% else %>
                                    N
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                </table>
            </td>
        </tr>
    <% end %>
</table>

<h3>Owned Locations</h3>

<table>
    <tr>
        <th>Name</th>
    </tr>
    
    <% @user.owned_locations.each do |location| %>
        <tr>
            <td><%= location.name %></td>
        </tr>
    <% end %>
</table>